//Fuentes

$FuenteSubtitulo:"Great Vibes", cursive;
$FuenteFirma: "Dancing Script", cursive;
$FuentePrincipal : "Epilogue", sans-serif;

//colores

$Naranja: rgb(235, 193, 56);
$NegroGrisacio:rgb(22, 22, 22);


//medidas para mixins

$telefono: 458px;
$telefonoMedio: 600px;
$tablet: 758px;
$pc: 1200px;
$pcXL:1400px
