@use 'base/variables' as v;
@use 'base/mixins' as m;

.contacto-titulo h2{
    font-family: v.$FuenteFirma;
    text-align: center;
    font-size: 4rem;
    color: aliceblue;
}

.contacto-items{
    @include m.tablet{
        display: flex;
    }
}

.contacto-trabajo, .contacto-redes{
    display: grid;

    h3{
        color: aliceblue;
        font-family: v.$FuenteSubtitulo;
        font-size: 3rem;
        text-align: center;
    }

    p{
        color: aliceblue;
        font-family: v.$FuentePrincipal;
        font-size: 2rem;
        text-align: center;
        margin: 1rem 2rem 3rem 2rem;

        span{
            font-family: v.$FuenteFirma;
            font-size: 2.5rem;
        }
    }

    iframe{
        width: 95%;
        margin: 1rem auto;
        justify-content: center;
        border-radius: 10px;

        @include m.telefono{
            width: 80%;
        }
    }
}

.contenedor-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30rem;
    margin: 1rem auto;
    padding: 2rem;

    .btn-social{
        width: 5rem;
        transition: .3s ease-in-out;

        &:hover{
            width: 8rem;
            cursor: pointer;
        }
    }
}


//MODAL

.modal-social{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 70%);

    .div-modal{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        margin: 2rem auto;
        background-color: #343f46;
        border-radius: 10px;
        padding: 2rem;

        @include m.tablet{
            width: 70%;
            height: 70%;
        }

        @include m.pc{
            height: 80%;
            width: 60%;
        }
    }
}

.formulario{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h3{
        font-size: 3rem;
        color: rgba(233, 237, 239, .8);
    }

    .input-radio, .input{
        width: 100%;
        margin: 1rem auto;
        height: 4rem;
    }

    .input{
        border: none;
        border-radius: 10px;
        background-color: aliceblue;
        text-align: center;
        font-size: 1.8rem;
        
    }

    .input-radio {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem auto;
        font-size: 1.5rem;
        background-color: cadetblue;
        border: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        
    }

    label{
        font-size: 1.8rem;
        color: rgba(233, 237, 239, .7);
    }

    input[type="radio"]{
        display: none;

        &:checked + label{
            background-color: rgb(167, 214, 96);
            color: #000000;
            font-size: 1.5rem;
        }
    }

}

//alerta
.alerta{
    width: 80%;
    border: 1px solid rgb(212, 61, 61);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(209, 125, 125);
    .alerta-parrafo{
        font-size: 1.2rem;
        text-align: center;
        margin: auto;
    }
}

.exito{
    border: 1px solid rgb(24, 151, 24);
    background-color: rgb(114, 170, 114);
    .alerta-parrafo{
        font-size: 1.5rem;
        text-align: center;
        margin: auto;
    }
}


//botones

.contenedor-btnSocial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;

    .btn-social{
        height: 3rem;
        width: 10rem;
        border: none;
        border-radius: 7px;
        font-size: 2rem;

    }
}

#Enviar{
    background-color: rgb(106, 206, 106);
    color: aliceblue;
}

#Cancelar{
    background-color: rgb(236, 71, 71);
    color: aliceblue;
}

//FOOTER

.footer{
    display: grid;
    background-color: v.$Naranja;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;

    h2{

        font-family: v.$FuenteTitulo; 
        margin: 1rem;   
    }
}
