@use 'base/variables' as v;
@use 'base/mixins' as m;

//generales

.contenedor-servicios{
    background-image: url(/src/video/cursoGIF.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: rgba($color: #000000, $alpha: 70%);
    background-blend-mode: darken;

    display: flex;
    flex-direction: column;
};

.servicios-cursos, .servicios-servicios{
    @include m.flexColum(space-between);
    background-color: v.$Naranja;
    border-radius: 13px;
    gap: 2rem;
    width: 90%;
    margin: 3rem auto;



}

.contenedor-titulo{
    background-color: #000000;
    width: 100%;
    border-radius: 11px 11px 0 0;
}

.titulo-cursos{
    font-size: 2.5rem;
    text-decoration: underline;
    font-family: v.$FuenteSubtitulo;
    color: aliceblue;
    text-align: center;
}

//optimizacion de codigo repetido
.contenedor-cursos, .servicios-contenedor{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.iconos, .iconosServicios{
    @include m.flexColum;

    img{
        &:hover{
            animation: iconoesAnimacion 1s;
        }
    
    }

    
}

//contenedores
.contenedor-cursos{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .iconos{ 
        margin: 0.8rem;
    }
    img{
        width: 80px;
    }

    label{
        margin: 2rem;
        color: v.$NegroGrisacio;
        font-family: v.$FuenteFirma;
        font-size: 2rem;
        text-align: center;
    }
}
.servicios-contenedor{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    @include m.tablet{
        gap: 4rem;
    }

    .iconosServicios{
        margin: 1rem;
    }

    img{
        width: 80px;

        @include m.tablet{
            width: 12rem;
        }
    }

    label{
        margin: 2rem;
        color: v.$NegroGrisacio;
        font-family: v.$FuenteFirma;
        font-size: 2rem;
        text-align: center;
    }
}


//.............MODAL..................

.modal-descripcion{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 60%);

}

.contenedor-info-modal{
    @include m.flexColum;
    gap: 8rem;
    width: 90%;
    height: 95%;
    background-color: rgb(186, 216, 243);
    margin: 1.5rem auto;
    border-radius: 1rem;

    .icono-modal{
        width: 12rem;

        @include m.tablet{
            width: 16rem;
        }

        @include m.pc{
            width: 18rem;
        }
    }

    .parrafo-modal{
        text-align: center;
        font-family: v.$FuentePrincipal;
        font-size: 1.8rem;
        margin: 1rem 3rem;
        
        @include m.tablet{
            font-size: 2.1rem;
        }

        @include m.pc{
            font-size: 2.8rem;
        }
    }

    .btnCerrar{
        width: 10rem;
        height: 4rem;
        border-radius: 8px;
        background-color: #000000;
        border: none;
        color: aliceblue;
        font-size: 1.5rem;
        font-family: v.$FuenteFirma;

        @include m.tablet{
            margin-top: 8rem;
        }

        @include m.pc{
            width: 11rem;
            height: 4.5rem;
            font-size: 1.8rem;
            margin-top: 10rem;
        }

        &:hover{
            background-color: white;
            color: #000000;
        }
    }

}











//animaciones

@keyframes iconoesAnimacion {
    20%{
        width: 90px;
        position: relative;
    }

    60%{
        transform: rotate(35deg);
    }

    80%{
        transform: rotate(-35deg);
    }

    95%{
        transform: rotate(0deg);
        width: 80px;
    }
}

