@use 'base/variables' as v;
@use 'base/mixins' as m;

//Contenedor,modal,titulos
.section-header{
    height: 50rem;
    background-image: url(/src/img/header/test_fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1.5s ease-out;

    .modal-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: inherit;
        left: 0;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 60%);
    }
}

.header{
    text-align: center;

    h1{
        margin: 5rem auto;
        font-family: v.$FuenteTitulo;
        font-weight: 400;
        font-size: 5rem;
        letter-spacing: .5rem;
        color: aliceblue;
        position: relative;
        left: -100%;
        animation: sliderH1 2s ease-out forwards;

        @include m.tablet{
            font-size: 7rem;
            margin: 4rem auto;
            
        }

        @include m.pc{
            font-size: 10rem;
            margin: 6rem auto;
        }
    }

    h3{
        font-family: v.$FuenteSubtitulo;
        font-size: 3rem;
        color: v.$Naranja;
        margin: 1rem 2rem;
        position: relative;
        right: -100%;
        animation: sliderH3 2s ease-out forwards;

        @include m.tablet{
            font-size: 4rem;
            margin: 2rem 3rem;
        }

        @include m.pc{
            font-size: 5rem;
            margin: 3rem 4rem;
        }
    }
}

//apartado social

.header-social{
    height: 4.2rem;
    margin:1rem auto;
    animation: btn-social 2s ease-in-out;
    

    img{
        height: 4rem;
        margin: 1rem;
        transition: .2s ease;

        &:hover{
            height: 4.5rem;
            cursor: pointer;
        }
    }
}

//Apartado nav

.nav-header{
    background-color: rgba($color: #000000, $alpha: 70%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 12rem;
    justify-content: space-between;

    @include m.tablet{
        height: 10rem;
    }
    @include m.pc{
        height: 8rem;
        gap: 14rem;
    }


    .div-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
            margin: 1rem auto;
            gap: 6rem;
        }
        @include m.pc{
            margin-top: 1.5rem;
        }
    }

}

.parrafos-nav{
    color: aliceblue;
    font-size: 1.8rem;
    font-family: v.$FuenteSubtitulo;
    color: v.$Naranja;

    @include m.tablet{
        font-size: 2.2rem;
        margin: 5rem auto;
        margin-top: 15rem;
    }

    &:hover{
        color: aliceblue;
        cursor: pointer;

        @include m.pc{
            &::before, &::after{
                content: "✂️";
            }
        }

        

    }
}

#nav-nombre{
    color: aliceblue;
    font-family: v.$FuenteFirma;
    font-size: 1.8rem;

    @include m.tablet{
        font-size: 2.2rem;
        margin: 1rem;
    }
}

//Apartado animaciones

@keyframes sliderH1 {
    90%{
        left: 5%;
    }
    95%{
        left: -5%;
    }
    100%{
        left: 0%;
    }
}

@keyframes sliderH3 {
    90%{
        right: 5%;
    }
    95%{
        right: -5%;
    }
    100%{
        right: 0%;
    }
    
}

@keyframes btn-social {
    0%{
        opacity: 10%;
    }
}